 .intro{
    position:absolute;
    height: 700px;
    background-size: cover;
    background-image:linear-gradient(rgb(0, 16, 19,0.9),rgba(27, 34, 35, 1));
    image-rendering: auto;
    background-size: cover;
    background-repeat:no-repeat;
    color: white;
    top: 5%;
    left: 0;
    background-repeat: no-repeat;
    
    width: 100%;

    /*background-color:#131616;
    height:700px;
    width:100%;
    margin-bottom: 20%;
    background-image:linear-gradient(rgb(0, 16, 19,0.9),rgba(27, 34, 35, 1));
    image-rendering: auto;
    background-size: cover;
    background-repeat:no-repeat;
   
    overflow-x:hidden;
    overflow-y: hidden;*/

}
.intro h1{
    font:50px Poppins;
    font-weight: bold;
    color:rgb(255, 255, 255);
    margin: 20px 20px 30px 30px;
    padding-top: 150px;
    padding-left:50px

    
}
.textpara{
    max-width: 450px;
    color:#ffffff;
    font:15px Poppins;
    margin: -30px 30px ;
    padding-left:50px;
    font-weight:500px;
}

.intro h1 span{
    color:#0EF6CC;
}


/*--------borrowed code card --------*/

.card {
    position: relative;
    float:right;
    top:-290px;
    
    width: 320px;
    height: 420px;
    background: rgb(255, 255, 255);
    margin-right:10%;
    justify-self: end;
    display: flexbox;
    align-items: center;
    justify-content: center;
    font-family: Poppins;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .card::before,
  .card::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    background-color:#0EF6CC;
    transition: all 0.5s;
  }
  
  .card::before {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 100%;
  }
  
  .card::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100%  0 15px;
  }
  
  .card:hover::before,
  .card:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;
  }
  
  .card:hover:after {
    content: "I AM A WEB DEVELOPER";
  }
  

  @media only screen and (max-width:450px){

    .card {
        position: relative;
        margin-left: 20px;
        margin-right: 35px;
        top:120px;
        width: 20%;
        height: 20%;

        width: 300px;
        height: 400px;
        


  }

  .textpara{
    max-width: 300px;
    color:#ffffff;
    font:10px Poppins;
    margin: -10px -5px ;
    padding-left:50px;
    font-weight:500px;
    max-height: 60px;
    text-align: center;
}
.intro h1{
    font:50px Poppins;
    font-weight: bold;
    color:rgb(255, 255, 255);
    margin: 10px 10px 20px 20px;
    padding-top: 120px;
    padding-left:50px

    
}
.intro span{
    margin-top: -100px;
}


}