nav a {
   
    text-decoration: none;
    overflow-x: hidden;

    
}
nav{
    width:100%;
    height:50px;
    border-radius: 4px;
    border:none;
    float:inline-end;
    background-color: #1b2223;
    top:0;
    left:0;
    position: absolute;
    z-index: 1;
   
   
}
nav li{
    list-style: none;
    list-style-type:none;
    float: right;
    margin-right: 70px;
}

nav  li ul{

    list-style: none;
    list-style-type:none;
    display: inline-block;
    
    text-decoration: none;
    padding: 70px -20px ;
    font: 15px Poppins;
    font-style: normal;
    color: rgb(255, 255, 255);
    
    
}
nav li ul::after{
    content: "";
    position:absolute;
    background-color: aqua;
    margin:2px 2px;
    width:0px;
    height:4px;
    color: #407c87;
    display: block;
    
}
nav li ul:hover{
 
    color: aqua;
    transition:ease-in 0.7s; 
    
}
nav li ul:hover::after{
    width:50px;
    color: aqua;
    transition:ease-in 0.7s; 
    
    
}


nav button{
    background-color:transparent;
    border:none;
    cursor: pointer;
    width: 10%;
    display: none;
    
    
}

@media only screen and (max-width:450px){

    nav{
        background-color: #1b2223;
        overflow-x: hidden;
        position: fixed;
       

    }
    #navopen{
        height:100vh;
        z-index: 1;
        background-color: rgba(27, 34, 35, 0.683);
        overflow-x: hidden;
        overflow-y: hidden;
    }
    
    nav li{
        list-style: none;
        list-style-type:none;
        float: end;
        width:10vw;
        width:70%;
        height:100vh;
        transform: translateX(20%);
        background-color:rgba(27, 34, 35, 0.829);
        margin-top: 50px;
        z-index: 1000;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    #open{
        display: block;
    }
    #closed{
        display: none;
    }
    nav  li ul{
       
        list-style: none;
        list-style-type:none;
        display:flex;
        flex-direction: column;
        transform: translateX(20%);
        text-decoration: none;
       
        font: 15px Poppins;
        font-style: normal;
        color: rgb(255, 255, 255);
        
        
    }

    nav li ul :hover{
        opacity:0.7;
        color: aqua;
    }
    nav button{
        display: block;
        transform: translateX(320px);
        position: absolute;
        width: 13%;
        background-color:transparent;
        border:none;
        
    }


}