body{
background: rgb(2,0,36);
background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgba(19,71,78,1) 35%, rgba(32,191,223,1) 100%);
}
.tet{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-85%);

}

.lhead{
    font-family: Poppins;
    font-size: 100px;
    text-align: center;
   
    margin-top: 320px;
}
.ltext{
    font-family: Poppins;
    font-size: 20px;
    text-align: center;
    display: block;
    margin: 0 auto;
    max-width: 700px;
    margin-top: 20px;
}
span{
    color: aqua;
}
#foot3{
    opacity: 0.8;
}

@media only screen and (max-width:450px){

    .lhead{
     
        font-size: 50px;
        width:300px;
        max-width: 300px;
        margin-top: 300px;
        margin-left: 0;
        text-align: center;
    }
    .ltext{
        font-family: Poppins;
        font-size: 10px;
        width:200px;
        max-width: 200px;
        margin-top: 10px;
       /* margin-right: 100px;*/

    }
    .tet{
        position: absolute;
        top: 50%;
        left: 50%;
        /*background-color: blue;*/
        transform: translateX(-53%) translateY(-80%);
       
    
    }

    #foot3{
        margin-top:650px;
    }
    body{
        background: linear-gradient(260deg, rgb(2, 0, 36) 0%, rgba(19,71,78,1) 25%, rgba(32,191,223,1) 100%);
    }

}