
.projdon{
   position: relative;
    
    width:400px;
    height:300px;
    background-color: rgba(0, 0, 0, 0.192);
    border-radius: 5px;
    border:2px solid white;
    margin-left: 20px;
   
    background-size: contain;
 
  


}
.hj{
    display: inline-block;
    flex-direction: row;
    flex: 1;
    margin:15px 10px;
    position: relative;
    transform: translateY(600px);
}

.vp{
    width: 140px;
    height:50px;
    /*background-color: #1b2223;*/
    background-color: transparent;
    border-radius: 3px;
    border:1px white solid;
    margin:0 auto;
    display: block;
    font-size: 10px ;
    color: white;
    font-family: Poppins;
 
    padding:-30px -30px;
    margin-top: 50px;
    
}
button:hover{
    background-color: #0EF6CC;
    color:#1b2223;
    transition: ease-out 0.6s;
    border:none;
    
}

.textCards{
    width:360px;
    text-align: center;
    display: block;
    margin:0 auto;
    margin-top: 60px;
}

@media only screen and (max-width:450px){

   /* .projdon{
       
        position: relative;
        width:70vw;
        justify-content: space-between;
        display: block;
        margin: 0 auto;
        margin-top: 50px;
        margin-left: 15vw;
       
    }
    p{
        width:250px;
        font-size: 15px;
       
        margin-top: 60px;
    }*/
    .projdon{
        margin-left: 0;
        margin-top: 90px;
        width:300px;
        height:280px;
        transform: translateX(30px);
        
        
    
    }
    .vp{
        width: 120px;
        height:50px;
        margin-top: 10px;
    }
    .textCards{
        width:260px;
        text-align: center;
        display: block;
        margin:0 auto;
        margin-top: 30px;
    }
    .hj{
        display: block;
        flex-direction: none;
        flex: none;
        margin:none;
        position: relative;
        transform: translateY(500px);
    }
    
}